:root, html {
  font-size: 62.5%;
}
body {
  margin: 0;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
.inner-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
/*header styling*/
header {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  background-color: #292930 
}
.display > img {
  max-width: 250px;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-widtH: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.logo > h2 {
  font-size: 2rem;
  margin-left: 1rem;
}
.logo > svg {
  width: 80px;
}
nav {
  padding: 1rem 0;
  background-color: lightblue;
}
nav ul {
  display: flex;
  list-style: none;
  font-size: 1.6rem;
  justify-content: space-between;
  margin: auto;
  max-width: 20rem;
  padding-left: 0;
}
.nav-links > li {
  list-style: none;
  padding: 1rem;
  border-radius: 4px;
  background-color: #e12b38;
}
.nav-links li:first-child {
  margin-right: 2rem;
}
.nav-links{
  display: flex;
}
.nav-links > li > a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem;
}
/*side bar*/
#plusSign, #updateSign, #deleteSign {
  width: 3rem;
  margin-right: 1rem;
}
.sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1e1e1e;
  font-weight: bold;
  margin-bottom: 2rem;
}
.sidebar {
   box-shadow: #1e1e1e 0px 2px 8px 0px;
  width: 289px;
  font-size: 1.6rem;
  padding: 2rem;
  height: calc(100vh - 64px);
  background-color: #ffffff;
}
/*card styling */
#card-display {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}
#card-display > .card:last-child, #card-display > .card:nth-child(4) {
  margin-right: 0;
}
.card {
  margin: 2rem 2rem; 
  border-radius: 10px;
  width: 200px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: #1e1e1e 0px 2px 8px 0px;
}
.card img {
  width: 200px;
  height: 150px;
  border-radius: 8px 8px 0px 0px;
}
.card p {
  font-size: 1.6rem;
}
.card p:first-child {
  padding-bottom: 0.5rem;
  margin: 0;
  padding-top: 1rem;
}
.card-text {
  padding: 0.5rem;
}
.name-price {
  display: flex;
  justify-content: space-between;
  line-height: 0;
  align-items: center;
}
.buy-now {
  font-size: 1.6rem;
  border: none;
  display: block;
  margin: 2rem auto;
  border: 2px solid #e12b38;
  background-color: #ffffff;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 20rem;
  color: black;
}
.buy-now:hover {
  cursor: pointer;
  background-color: #e12b38;
  color: #ffffff;
  transition: ease-in 0.2s;
}
.delete, .edit{
  background-color: #e12b38;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.delete {
  margin-left: 1rem;
}

#deleteButtons {
  margin: 5rem auto;
}

#deleteButtons .exit, #deleteButtons .delete {
  padding: 1rem;
  border: none;
  background-color: #e12b38;
  color: #ffffff;
  border-radius: 4px;
  font-size: 1.8rem;
  margin: 0;
  margin-right: 2rem;
}

.buttonContainer {
  display: flex;
}

/*form styling */
form > div > label {
  display: block;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
form {
  margin: 2rem auto;
  margin-top: 5rem;
}
form > div {
  margin-bottom: 1rem;
}
form > .submit-button {
  display: flex;
  justify-content: center;
}
form > .submit-button > button {
  padding: 1rem;
  font-size: 1.4rem;
  background-color: #e12b38;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-size: 1.6rem;
}
form input {
  width: 92%;
  padding: 0.5rem;
}
.display label {
  display: block;
  font-size: 1.4rem;
  width: 9rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: #e12b38;
  color: #ffffff;
}